# Compiled source #
###################
*.pyc
*.o
.so

# Packages #
############
*.7z
*.tar
*.zip

# Logs and connection string #
##############################
*.log
*.sql

# Certifactes and keys #
##############################
*.cert
*.pem
*.pfx
*.key
*.crt

# Temporary files #
###################
/temp/*
